<a href="https://colab.research.google.com/github/RichardDLB/Ejericios-Analisis-de-datos-con-Python-talentotech/blob/main/Actividad_2_Repaso_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Propiedades de Tipos de Datos

Repasemos cuáles son los tipos de datos nativos en Python más utilizados.

# Tipos de Datos Simples

*  int: Números enteros. Ejemplo: x = 5
*  float: Números de punto flotante. Ejemplo: y = 3.14
*  str: Cadenas de texto. Ejemplo: nombre = "Alice"
*  bool: Valores booleanos (True/False).

# Tipos de Datos Complejos


*  list: Colección ordenada y mutable. Ejemplo: lista = [1, 2, 3]
*  tuple: Colección ordenada e inmutable. Ejemplo: tupla = (1, 2, 3)
*  dict: Colección de pares clave-valor. Ejemplo: diccionario = {"clave1": "valor1", "clave2": "valor2"}
*  set: Colección desordenada de elementos únicos. Ejemplo: {1, 2, 3}
*  frozenset: Colección desordenada de elementos únicos e inmutable. Ejemplo: frozenset({1, 2, 3})

# Ejercicios
Crear una lista con varios tipos de datos y acceder a sus elementos.
Crear un diccionario y acceder a sus valores por clave.

In [6]:
# Ejercicio de lista
mi_lista = [1, "dos", 3,14, True]
print("Está es mi lista ",mi_lista)
print("Esto es un dato en mi lista ",mi_lista[0])

Está es mi lista  [1, 'dos', 3, 14, True]
Esto es un dato en mi lista  1

In [11]:
# Ejercicio de diccionario
mi_diccionario = {"Nombre": "Richard", "Apellido": "Lopez", "Edad": "37"}
print("Esté es mi diccionario :", mi_diccionario)
print("Estó es un dato clave valor en mi diccionario :",  "Nombre", mi_diccionario["Nombre"])

Esté es mi diccionario : {'Nombre': 'Richard', 'Apellido': 'Lopez', 'Edad': '37'}
Estó es un dato clave valor en mi diccionario : Nombre Richard